.vs/
.vscode/

build/
client/build
server/build

out/
client/out
server/out

client/CMakeLists.txt.user
client/CMakePresets.json
client/CMakeUserPresets.json

server/CMakeSettings.json
server/VerifyCodeServer/node_modules
server/VerifyCodeServer/package-lock.json